@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html {
    padding:none;
    margin:none;
}

body{
    background-color: (14, 45%, 36%);
    margin: 0px;
    padding: 0px;


}
main {
padding: 25px;
}

img {
    width:100%;
}


p {
    font-size: 16px;
    padding: 0px 25px 0px 25px;
}


h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  justify-content: center;
  margin:auto;

}

h2 {
    color: hsl(14, 45%, 36%);
}
